#forcing_checklist label:nth-child(1) {color: red;}
#forcing_checklist label:nth-child(2) {color: cadetblue;}
#forcing_checklist label:nth-child(3) {color: deepskyblue;}
#forcing_checklist label:nth-child(4) {color: orange;}
#forcing_checklist label:nth-child(5) {color: sienna;}
#forcing_checklist label:nth-child(6) {color: mediumslateblue;}
#forcing_checklist label:nth-child(7) {color: seagreen;}


#forcing_radiobuttons label:nth-child(1) {color: red;}
#forcing_radiobuttons label:nth-child(2) {color: cadetblue;}
#forcing_radiobuttons label:nth-child(3) {color: deepskyblue;}
#forcing_radiobuttons label:nth-child(4) {color: orange;}
#forcing_radiobuttons label:nth-child(5) {color: sienna;}
#forcing_radiobuttons label:nth-child(6) {color: mediumslateblue;}
#forcing_radiobuttons label:nth-child(7) {color: seagreen;}